
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
.entete {
  background-color: #fcce00;
  color: #fff;
  text-align:center;
  font-weight: 900;
 padding-top: 0;
 padding-bottom: 80px;
 margin-bottom: 64px;

  

}

.entete_titre {
  margin: 0;
  font-size: 88px;
  text-transform: uppercase;
}

.entete_sous_titre {
margin: 0;
font-size: 38px; 
}

.product {
  display: flex;
}

.product-column {
  flex-basis: 0;
  flex-grow: 1;
}

.product-picture {
  background-color: #fcce00;
  order: 2;
}
.product-illu {
  mix-blend-mode: darken;
}
.product-picture2{
  background-color: #ff6b00;
}
.product-illu {
  mix-blend-mode: darken;
}
.column { 
  background: #e02020;
}
.product-picture3{
  background-color: #e02020;
}
.product-illu {
  mix-blend-mode: darken;
}
.product-picture4{
  background-color: #b620e0;
}
.product-illu {
  mix-blend-mode: darken;
}
.product-picture5{
background-color: #6236ff;
}
.product-illu {
  mix-blend-mode: darken;




